/vc14/x86/assimp
/vc14/x64/assimp
/vc14/x86/FbxSDK
/vc14/x64/FbxSDK
/vc14/x86/ffmpeg
/vc14/x64/ffmpeg
/vc14/x86/FreeImage
/vc14/x64/FreeImage
/vc14/x86/freetype
/vc14/x64/freetype
/vc14/x86/glm
/vc14/x64/glm
/vc14/x86/glslang
/vc14/x64/glslang
/vc14/x86/libzip
/vc14/x64/libzip
/vc14/x86/opencv
/vc14/x64/opencv
/vc14/x86/VulkanSDK
/vc14/x64/VulkanSDK
/vc14/x86/wxWidgets
/vc14/x64/wxWidgets
/vc14/x86/zlib
/vc14/x64/zlib
